
body{
    background-image: url("../images/796108.jpg");
    background-size: 100%;
    background-repeat: no-repeat fixed;
}

.wrapper{
    width: 900px;
    margin:0 auto;
    margin-top: 50px;
    padding: 20px;
    background-image: url(../images/stars.jpg);
}

h1{
    font-size: 70px;
    margin-top: -43px;
    text-align: center;
    color: #00afc7;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Kirang Haerang', cursive;
}

.img1{
    margin:0 auto; 
    display: block;
}

.startBtn{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;  
    color: #00afc7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Kirang Haerang', cursive;
    
}

.question, .answerChoices{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;  
    color: #00afc7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Kirang Haerang', cursive;
}

#timer{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;  
    color: #00afc7;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Kirang Haerang', cursive;
}
